{{- if .Values.mongodb.enabled }}
{{- $mongoPassword := "" }}
{{- if .Values.createTestSecrets }}
{{- /* For CI/testing, use the known test password */}}
{{- $mongoPassword = "test-mongodb-password" | urlquery }}
{{- else }}
{{- /* For production, try to lookup existing secret */}}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace .Values.mongodb.auth.existingSecret }}
{{- if $existingSecret }}
{{- $mongoPassword = $existingSecret.data.password | b64dec | urlquery }}
{{- end }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "courselit.fullname" . }}-mongodb-connection
  labels:
    {{- include "courselit.labels" . | nindent 4 }}
    app.kubernetes.io/component: mongodb
type: Opaque
stringData:
  connectionString: {{ include "courselit.mongodb.connectionString" . | replace "PASSWORD" $mongoPassword }}
{{- end }}
