{{- if .Values.mongodb.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "courselit.fullname" . }}-mongodb-connection
  labels:
    {{- include "courselit.labels" . | nindent 4 }}
    app.kubernetes.io/component: mongodb
type: Opaque
stringData:
  connectionString: {{ include "courselit.mongodb.connectionString" . | replace "PASSWORD" (printf "$(cat /run/secrets/%s/%s)" .Values.mongodb.auth.existingSecret .Values.mongodb.auth.secretKey) }}
{{- end }}
